#body1 {

    height: 1200px;
}

#body2 {
    height: 2450px;


}


#body-contact {
    height: 1000px;

}

h3 {

    padding-top: 20px;
}


header {
    float: right;
    width: 100%;

}

nav {
    float: right;
    padding-right: 30px;
    position: relative;
    top: 52px;

}

#banner1 {
    width: 100%;
    height: 100px;
    background-color: white;

}


#banner2 {
    width: 100%;
    height: 100px;
    background-color: white;

}

#banner3 {
    width: 100%;
    height: 100px;
    background-color: white;

}

#Name {
    color: white;
    background-color: rgb(53, 171, 165);
    margin-top: -110px;

    height: 100px;
    width: 250px;
    margin-left: 75px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    position: relative;
    top: 100px;
}


#nav_border {
    position: relative;
    top: 100px;
    width: 100%;
    height: 6px;
    background-color: black;

}


#main {

    background-color: white;
    height: 80%;
    width: 90%;
    margin-top: 10%;

    margin-left:5%;
    margin-right: 5%;
    z-index: 1;

}


#main-contact {

    background-color: white;
    height: 80%;
    width: 90%;
    margin-top: 10%;

    margin-left:5%;
    margin-right: 5%;
    z-index: 1;
}


#about {
    padding-top: 5%;
    padding-bottom: 5%;
    border-bottom: solid grey;
    border-bottom: 5%;
    margin-bottom: 5%;
    color: rgb(53, 171, 165);


}


.col-md-3 {

    padding-right: 5%;
    margin-top: 1%;
    margin-bottom: 15%;
    margin-right: 10%;
    margin-left: 8%;
    z-index: 2;


}

.green_box {


    background-color: rgb(53, 171, 165);
    z-index: 4;
    position: relative;

    bottom: 0%;
    height: 100px;
    width: 140%;
    color: white;
    text-align: center;
    padding-top: 0%;
    
}





.btn-primary {
    color: white;
    background-color: rgb(53, 171, 165);

}



#footer {
    background-color: grey;
    color: white;
    width: 100%;
    border-top: 10px solid rgb(53, 171, 165);
    padding-top: 30px;
    padding-left: 50%;
    padding-bottom: 20px;
    margin-bottom: 0px;
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    height:80px; 
    z-index: 6;

}






@media screen and (max-width: 769px) and (min-width: 481px) {




    #main {
        width: 700px;
        margin-left: 30px;

    }


    #Name {
        position: relative;

        margin-left: 30px;
    }

    nav {
        position: relative;
        right: 170px;
    }

    .bio {
        position: relative;
        top: 120px;
    }

    .green_box {

    }



}

@media screen and (max-width: 480px) and (min-width: 377px) {


    #body1 {

        height: 1200px;
    }


    #body2 {

        height: 2200px;
    }



    #Name {
        position: relative;
        top: 100px;
        right: 35px;

    }

    nav {
        position: relative;
        right: 100px;
        z-index: 2;
        margin-top: -20px;
    }


    header {
        position: relative;
        top: 100px;
        z-index: 1;

    }


    #port {

        position: relative;
        top: 90px;
        left: 40px;
        z-index: 6;
    }

    .container {
        position: relative;
        top: 80px;


    }
    .col-md-4 {

        position: relative;
        right: 35px;
    }

    form {

        position: relative;
        left: 20px;
        top: 70px;
    }

    #contact {

        position: relative;
        top: 90px;
    }



    #aboutme {
        position: relative;
        top: 120px;

    }

    #selfie {

        position: relative;
        top: 120px;

    }

    .bio {
        position: relative;
        top: 120px;

        
    }



}

@media screen and (max-width: 376px) and (min-width: 1px) {

        #body1 {

            height: 1200px;
        }

        #body2 {

            height: 2000px;
        }




        #banner1{

            position: relative;
            top: 100px;



        }


        #banner2{

            position: relative;
            top: 1000px;



        }



        #Name {
            position: relative;
            top: 100px;
            right: 45px;
    
        }
    
        header {
            position: relative;
            top: 200px;


        }


        nav {
            position: relative;
            right: 30px;
            top:   -880px;             
        }
   

        #port {

            position: relative;
            top: 75px;
            left: 40px;
        }
    
        .col-md-3 {
    
            position: relative;
            right: 5px;
            width: 340px;
            margin-bottom: -60px;
            top: 135px;
            font-size: 12px;
        }


        .green_box {
            font-size: 2px;
            height: 100px;
    
    
        }


        form {

            position: relative;
            left: 20px;
            top: 70px;
        }

        #contact {

            position: relative;
            top: 90px;
        }

        #aboutme {
            position: relative;
            top: 120px;

        }

        #selfie {

            position: relative;
            top: 120px;

        }

        .bio {
            position: relative;
            top: 120px;

            
        }
    
}